{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>스타트업스쿨 Django</title>
    <link rel="stylesheet" href="{% static 'css/custom.css' %}" />
</head>
<body>
    <a href="{% url 'location'%}">주소</a>
    <a href="{% url 'terms'%}">약관</a>
    <a href="{% url 'articles'%}">글</a>
    <a href="{% url 'home'%}">홈</a>

    {% block content %} {% endblock content %}

</body>
</html>
